.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 98%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 16px;
}

#result {
  font-size: 18px;
  margin-top: 20px;
}

.control-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
  min-height: 2rem;
  width: 800px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.control-container div {
  margin-bottom: 10px;
  min-height: 20px;
  min-width: 200px;
}

.control-container input {
  width: 100%;
  margin-bottom: 10px;
}

.control-container button {
  width: 100%;
  margin-bottom: 10px;
  min-width: 100px;
}

#velocityInput,
#velocityInputC {
  width: 150px;
}

#resultLorentz,
#resultLightSpeed {
  font-weight: bold;
  padding: 5px 10px;
  word-wrap: break-word;
  max-width: 200px;
}